<p-card [style]="{width: '558px', height: '558px'}">
  <div class="p-col-12" style="padding: 0px; font-size: 15px;">
    <div class="p-col-7">
      <strong>Propiedades - bienes</strong>
    </div>
    <div class="p-col-2">
      <img src="../../../assets/car.png" width="80%" height="80%" />
    </div>
    <div class="p-col-2">
      <img src="../../../assets/edificio.png" width="80%" height="80%" />
     
    </div>
    <div class="p-col-1" style="padding: 0px;">
      <div class="circulo">
      </div>
    </div>
  </div>
  <div class="p-col-12" style="padding: 0px; color: #B0C4DE;">
    ________________________________________________________________________________________________
  </div>
  <div class="p-col-12" style="padding: 0px;">
    <div class="p-col-3">
      Tipo de Inmueble
    </div>
    <div class="p-col-3">
      <div class="p-col-9">
        <strong>Departamento</strong>
      </div>
      <div class="p-col-3">
        <p-radioButton name="city" value="departamentType" [(ngModel)]="propertyType"></p-radioButton>
      </div>
    </div>
    <div class="p-col-3">
      <div class="p-col-6">
        <strong>Local</strong>
      </div>
      <div class="p-col-6">
        <p-radioButton name="city" value="localType" [(ngModel)]="propertyType"></p-radioButton>
      </div>
    </div>
    <div class="p-col-3">
      <div class="p-col-6">
        <strong>Casa</strong>
      </div>
      <div class="p-col-6" style="text-align: right;">
        <p-radioButton name="city" value="homeType" [(ngModel)]="propertyType"></p-radioButton>
      </div>
     
    </div>

  </div>
  <div class="p-col-12" style="padding: 0px;">
    <div class="p-col-6">
      <div class="p-col-6">
        <strong>Valor comercial</strong>
      </div>
      <div class="p-col-6">
        <input pInputText [(ngModel)]="commercialValue" style="width:95%" />
      </div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <div class="p-col-4">
      </div>
      <div class="p-col-4">
        <strong>Hipotecado</strong>
      </div>
      <div class="p-col-4">
        <p-checkbox [(ngModel)]="ismortgaged" binary="true"> </p-checkbox>
      </div>
    </div>
  </div>
  <div class="p-col-12" style="padding: 0px;">
    <div class="p-col-8">
      <span>El bien está en la misma ciudad de residencia?</span>
    </div>
    <div class="p-col-4">
      <div class="p-col-3">
        <span>Si</span>
      </div>
      <div class="p-col-3" style="text-align: left;">
        <p-radioButton name="city" value="sameCityReference" [(ngModel)]="propertyType"></p-radioButton>
      </div>
      <div class="p-col-3">
        <span>No</span>
      </div>
      <div class="p-col-3" style="text-align: right;">
        <p-radioButton name="city" value="notsameCityReference" [(ngModel)]="propertyType"></p-radioButton>
      </div>

    </div>
  </div>
  <div class="p-col-12">
    <p-table styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped" [columns]="columnsHeader"
    [value]="goodsList" [style]="{'font-size':'12px'}" [responsive]="true" [paginator]="true"
    [rowsPerPageOptions]="[5,10,50,100]" [lazy]="true" 
    [totalRecords]="totalRecords" [rows]="rowPerPage" expandableRows="true" dataKey="loadf"
    selectionMode="single">
    <ng-template pTemplate="header" let-columns>
        <tr style="padding: 0px !important;">
            <th *ngFor="let col of columnsHeader" [style.width]="col.width" >
                {{col.header}}
            </th>
        </tr>
        <tr>
          <th>
            <button class="p-button-info" type="button" pButton pRipple icon="pi pi-plus" style="float:right; width: 100%;"
            (click)="addProperties()"></button>
          </th>
          <th>
            <input pInputText [(ngModel)]="tipo" style="width:95%" placeholder="Tipo"/>
          </th>
          <th>
            <input pInputText [(ngModel)]="departament" style="width:100%" placeholder="Departamento"/>
          </th>
          <th>
            <input pInputText [(ngModel)]="country" style="width:100%" placeholder="ciudad"/>
          </th>
          <th>
            <input pInputText [(ngModel)]="commercialValueSearch" style="width:95%" placeholder="Valor comercial"/>
          </th>
          <th>
            <input pInputText [(ngModel)]="mortgaged" style="width:95%" placeholder="Si/No"/>
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-index="rowIndex"
        let-columns="columns">
        <tr>
            <td style="padding: 0px;">
              <div class="p-col-12" style="padding: 0px;">
                <div class="p-col-5" style="padding: 0px; text-align: center;">
                 <td>
                  <button pButton pRipple type="button" class="p-button-raised p-button-secondary p-button-text"
                  (click)="save()" icon="pi pi-check"></button>
                 </td> 
                </div>
               
                <div class="p-col-5" style="padding: 0px; text-align: center;">
                  <td>
                    <button pButton pRipple type="button" class="p-button-raised p-button-secondary p-button-text"
                    (click)="remove(rowData, index)" icon="pi pi-trash"></button>
                  </td> 
                </div>
              </div>
            </td>
            <td>{{rowData.tipo}}</td>
            <td>{{rowData.departamento}}</td>
            <td>{{rowData.ciudad}}</td>
            <td>{{rowData.valorComercial}}</td>
            <td>{{rowData.hipoteca}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columnsHeader.length">
                No hay resultados de la busqueda. Haga click en buscar.
            </td>
        </tr>
    </ng-template>
</p-table>
  </div>

</p-card>