$primaryColor: #da2229;
$primaryLightestColor: #d92129;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#ff8f00;
$accentTextColor:#212121;


@import '../../sass/theme/theme_light';
