<p-card [style]="{width: '560px', height: '620px'}">
    <div class="p-col-12" style="font-size: 15px;">
        <div class="p-col-7">
            <strong>Vivienda</strong>
        </div>

        <p-tabView class="small">

            <p-tabPanel header="Propia">
                <div class="p-col-12">
                    <div class="p-col-8">
                        <input pInputText type="text" placeholder="Calle Principal" style="width: 100%;">
                    </div>

                    <div class="p-col-2">
                        <input pInputText type="text" placeholder="Número">
                    </div>
                </div>

                <div class="p-col-12">
                    <div class="p-col-8">
                        <input pInputText pInputText type="text" placeholder="Calle secundaría" style="width: 100%;">
                    </div>
                    <div class="p-col-2">
                        <input pInputText pInputText type="text" placeholder="ZipCode">
                    </div>
                </div>

                <div class="p-col-12">
                    <div class="p-col-12">
                        <input pInputText type="text" placeholder="Referencia" style="width:99%; margin-left: 7px;">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Arriendo" class="samll">
                <div class="p-col-12">
                    <div class="p-col-8">
                        <input pInputText type="text" placeholder="Calle Principal" style="width: 100%;">
                    </div>

                    <div class="p-col-2">
                        <input pInputText type="text" placeholder="Número">
                    </div>
                </div>

                <div class="p-col-12">
                    <div class="p-col-8">
                        <input pInputText pInputText type="text" placeholder="Calle secundaría" style="width: 100%;">
                    </div>
                    <div class="p-col-2">
                        <input pInputText pInputText type="text" placeholder="ZipCode">
                    </div>
                </div>

                <div class="p-col-12">
                    <div class="p-col-12">
                        <input pInputText type="text" placeholder="Referencia" style="width:99%; margin-left: 7px;">
                    </div>
                </div>
                
            </p-tabPanel>

        </p-tabView>
    </div>


    <div class="p-col-12">
        <div class="p-col-6">
            <div class="p-col-12">
                <div class="p-col-6">
                    <strong class="small">Quieres buscar tu ubicación en el mapa?</strong>
                </div>
                <br>
                <div class="p-col-6">
                    <p-button class="small" label="Mapa" (click)="getLocation()" (click)="showDialog()"></p-button>
                </div>
            </div>

        </div>
        <div class="p-col-6" style="padding: 0px;">
            <div class="p-col-12" >
                <p-card>
                    <div class="p-col-12" *ngIf="mapedit" >
                        <google-map width="225" height="110" [zoom]="zoom" [center]="realPosition"></google-map>
                    </div>
                    <div class="p-col-12" *ngIf="!mapedit" >
                        <google-map width="225px" height= "110px" [zoom]="zoom" [center]="center"></google-map>
                    </div>
                </p-card>
            </div>
        </div>
        <!--DIALOG-->

        <div class="p-col-5">
            <p-dialog header="Marca la posición más cercana a ti" [(visible)]="displayi">

                <strong> Sus Coordenadas son:
                    <span style="font-size: medium;">
                        <span style="color:red;">LAT ({{center['lat']}}) LNG ({{center['lng']}})</span>
                    </span>
                </strong>
                <google-map width="535" height="500" [zoom]="zoomx1" [center]="realPosition"></google-map>
            </p-dialog>
        </div>
        <div class="p-col-7">
            <!--
                        <img src="../../../assets/maps.jpg" width="150" height="130" /> -->
        </div>
    </div>
    <div class="p-col-12">
        <div class="p-col-6">
            <span style="width:100%"><b>Teléfono</b></span>
        </div>
        <div class="p-col-2">
            <span><b>Correspondencia</b></span>
        </div>
    </div>
    <div class="p-col-12">

        <div class="p-col-6">
            <input pInputText type="text" placeholder="Celular" style="width: 100%;">
        </div>

        <div class="p-col-6">
            <p-dropdown [style]="{'width':'100%'}" [options]="options" [(ngModel)]="dat" placeholder="Seleccione un tipo">
            </p-dropdown>
        </div>

    </div>
    <div class="p col-12">
        <div class="p-col-6">
            <input pInputText type="text" placeholder="Convencional" style="width: 100%;">
        </div>

        <div class="p-col-6">
            <input pInputText type="text" placeholder="Correo electrónico" style="width: 100%;">
        </div>

    </div>
    <div class="p-col-12">
        <div class="p-col-9">
            <span style="width:100%">Desea recibir notificaciones importantes acerca de beneficios y promiciones</span>
        </div>
        <div class="p-col-1">
        </div>
        <div class="p-col-2">
            <p-checkbox [style]="{'width': '100%'}" value="" [(ngModel)]="selectedValues"></p-checkbox>
        </div>
    </div>
</p-card>