<div class="card">
    <h2>Vivienda</h2>
    <nb-card>

        <nb-card-body>
    
            <nb-tabset>
                <nb-tab tabTitle="Propia">
                    <div class="p-gird">
                        <div layout="row">
                            <div flex>
                                <input type="text" class="text" placeholder="Calle principal">
                            </div>
                            <div flex>
                                <input type="text" class="text" placeholder="Número">
                            </div>
                        </div>
                        <div layout="row">
                            <div flex>
                                <input type="text" class="text" placeholder="Calle secundaria">
                            </div>
                            <div flex>
                                <input type="text" class="text" placeholder="ZipCode">
                            </div>
                        </div>
                        <div layout="row">
                            <div flex>
                                <input type="text" class="text" placeholder="Referencia">
                            </div>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Arrendada">
                    <div class="p-gird">
                        <div layout="row">
                            <div flex>
                                <input type="text" class="text" placeholder="Calle principal!">
                            </div>

                            <div flex >
                                <input type="text" class="text" placeholder="Número">
                            </div>
                        </div>
                        <div layout="row">
                            <div flex>
                                <input type="text" class="text" placeholder="Calle secundaria">
                            </div>
                            <div flex>
                                <input type="text" class="text" placeholder="ZipCode">
                            </div>
                        </div>
                        <div layout="column">
                            <div flex>
                                <input type="text" class="text" placeholder="Referencia">
                            </div>
                        </div>
                    </div>
                  
                </nb-tab>
            </nb-tabset>
<!-- Mapa-->
            <div>

            </div>
            
        </nb-card-body>
    
    </nb-card>

</div>