<div class="p-grid">
    <div class="p-grid-12">
        <p-card >
            <h2>
                <b>Vivienda</b>
            </h2>
            <div class="p-grid">
                <div class="p-col-12">
                    <p-tabView>
                        <p-tabPanel header="Propia">
                            <div class="p-col-12">
                                <div class="p-col-7" >
                                    <input pInputText type="text"  placeholder="Calle Principal">
                                </div>
                                <div class="p-col-3" >
                                    <input pInputText type="text"  placeholder="Número">
                                </div>
                            </div>
                            <br>
                            <div class="p-col-12">
                                <div class="p-col-7" >
                                    <input pInputText pInputText type="text"  placeholder="Calle secundaría">
                                </div>
                                <div class="p-col-3" >
                                    <input pInputText pInputText type="text"  placeholder="ZipCode">
                                </div>
                            </div>
                            <br>
                            <div class="p-col-12">
                                <div class="p-col-10" >
                                    <input pInputText type="text"  placeholder="Referencia">
                                </div>
                            </div>
                        </p-tabPanel>
            
                        <p-tabPanel header="Arriendo">
                            <div class="p-col-12">
                                <div class="p-grid-12" >
                                    <div class="p-col-7">
                                        <input pInputText type="text"  placeholder="Calle Principal">
                                    </div>
                                    <div class="p-col-3">
                                        <input pInputText type="text"  placeholder="Número">
                                    </div>
                                </div>
                                <div class="p-grid-12">
                                    <div class="p-col-7" >
                                        <input pInputText type="text"  placeholder="Calle secundaría">
                                    </div>
                                    <div class="p-col-3" flex>
                                        <input pInputText type="text"  placeholder="ZipCode">
                                    </div>
                                </div>
                                <div class="p-grid-12" flex>
                                    <div class="p-col-10" flex>
                                        <input pInputText type="text"  placeholder="Referencia">
                                    </div>
                                </div>
            
                            </div>
                        </p-tabPanel>
            
                    </p-tabView>
            
                </div>
                
            </div>

            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-col-3">

                    </div>
                </div>
            </div>
        
        </p-card>

    </div>
    

</div>

    

