

#shadow {
   
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
  }
  .circulo {
    width: 18px;
    height: 18px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
   
}