<div class="p-grid">
    <div class="p-col-2" style="text-align: center;">
      <button class="p-button-info" icon="pi pi-chevron-left" type="button" pButton pRipple (click)="backStep()"
        styleClass="steps-custom"></button>
    </div>
    <div class="p-col-8">
      <p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="true" styleClass="steps-custom"></p-steps>
  
    </div>
    <div class="p-col-2" style="text-align: center;">
      <div class="p-col-12">
        <button class="p-button-info" icon="pi pi-chevron-right" type="button" pButton pRipple (click)="nextStep()"
          styleClass="steps-custom"></button>
      </div>
      <div class="p-col-12">
        <span class="md-inputfield">
          <p-dropdown [(ngModel)]="personalInformation.country" [options]="sss" placeholder="Seleccione"
          appendTo="body" [style]="{'width': '100%'}" filter="true">
          <label>Número de solicitud</label>
        </p-dropdown>
        </span>
      </div>
    </div>
  </div>

  
<ng-container *ngIf="activeIndex==0">
    <app-customer-information></app-customer-information>
</ng-container>

  <ng-container *ngIf="activeIndex==1">
    <app-housing-information>
    </app-housing-information>
  </ng-container>