<div class="p-grid">
  <div class="p-col-12">
    <p-card [style]="{width: '560px', height: '560px'}">
      <div class="p-col-12">
        <div class="p-col-8">
          <strong>Información del cliente</strong>
        </div>
        <div class="p-col-4">
          <span>CÉDULA - 1723353403</span>
        </div>
      </div>
  
      <!-- Información del cliente -->
      <div class="p-col-12">
        <div class="p-col-3">
          <div class="p-col-12">
            <img src="../../../assets/profile.png" width="100" height="100" />
          </div>
       
        </div>
        <div class="p-col-9">
          <div class="p-col-12" style="padding: 0px;">
            <div class="p-col-6" style="padding: 0px;">
              <span class="md-inputfield" style="padding: 0px;">
                <input pInputText [(ngModel)]="personalInformation.firstName" style="width:90%" />
                <!-- <label>Primer nombre</label> -->
              </span>
            </div>
            <div class="p-col-6" style="padding: 0px;">
              <span class="md-inputfield" style="padding: 0px;">
                <input pInputText [(ngModel)]="personalInformation.lastName" style="width:90%" />
                <!-- <label>Primer Apellido</label> -->
              </span>
            </div>
            <div class="p-col-6" style="padding: 0px; padding-top: 10px;">
              <span class="md-inputfield">
                <input pInputText [(ngModel)]="personalInformation.secondName" style="width:90%" />
                <!-- <label>Segundo nombre</label> -->
              </span>
            </div>
            <div class="p-col-6" style="padding: 0px;">
              <span class="md-inputfield">
                <input pInputText [(ngModel)]="personalInformation.maternalName" style="width:90%" />
                <!-- <label>Segundo Apellido</label> -->
              </span>
            </div>
          </div>
          <div class="p-col-12" style="padding: 0px;">
            <div class="p-col-10" style="padding: 0px;">
              <strong>
                Fecha y lugar de nacimiento
              </strong>
            </div>
            <div class="p-col-2" style="padding: 0px;">
              <strong>
                Extranjero
              </strong>
            </div>
          </div>
          <div class="p-col-12" style="padding: 0px;">
            <div class="p-col-4" style="padding: 0px; padding-right: 10px;">
              <span class="p-float-label">
                <p-calendar [(ngModel)]="personalInformation.birthDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1940:2025" [locale]="localeCalendar"></p-calendar>
              </span>
            </div>
            <div class="p-col-6" style="padding: 0px; padding-right: 10px;">
              <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
              </p-dropdown>
            </div>
            <div class="p-col-2" style="padding: 0px; text-align: center;">
              <p-checkbox [(ngModel)]="personalInformation.isforeign" binary="true">
              </p-checkbox>
            </div>
          </div>
        </div>
      </div>

      <!-- Fecha y lugar de expedicion -->
      <div class="p-col-12">
        <div class="p-col-12">
          <strong>Fecha y lugar de expedición</strong>
        </div>
        <div class="p-col-12">
          <div class="p-col-6">
            <div class="p-col-12">
              <div class="p-col-6">
                <span class="p-float-label">
                  <p-calendar [(ngModel)]="personalInformation.birthDate" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1940:2025" [locale]="localeCalendar"></p-calendar>
                </span>
              </div>
              <div class="p-col-6">
                <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                  placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
                </p-dropdown>
              </div>
            </div>

          </div>
          <div class="p-col-6">
            <div class="p-col-12">
              <div class="p-col-6">
                <strong>Género</strong>
              </div>
              <div class="p-col-6">
                <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                  placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="p-col-12">
            <div class="p-col-6">
              <div class="p-col-12">
                <div class="p-col-6">
                  <strong>Educación:</strong>
                </div>
                <div class="p-col-6">
                  <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                    placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
                  </p-dropdown>
                </div>
              </div>
  
            </div>
            <div class="p-col-6">
              <div class="p-col-12">
                <div class="p-col-6">
                  <strong>Estado civil</strong>
                </div>
                <div class="p-col-6">
                  <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                    placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-col-6">
            <div class="p-col-12">
              <div class="p-col-6">
                <strong>Email:</strong>
              </div>
              <div class="p-col-6">
                <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                  placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
                </p-dropdown>
              </div>
            </div>

          </div>
          <div class="p-col-6">
            <div class="p-col-12">
              <div class="p-col-6">
                <strong>Estrato</strong>
              </div>
              <div class="p-col-6">
                <p-dropdown [(ngModel)]="personalInformation.country" [options]="processfileCombo"
                  placeholder="Seleccione" appendTo="body" [style]="{'width': '100%'}" filter="true">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cuantas personas en casa? -->
      <div class="p-col-12">
        <div class="p-col-12">
          <strong>Cuantas personas en casa?</strong>
        </div>
        <div class="p-col-12">
          <div class="p-col-6">
            <div class="p-col-12">
              <div class="p-col-6">
                <div class="p-col-12">
                  <label>Trabajan</label>
                </div>
                <div class="p-col-12">
                  <span class="p-float-label">
                    <input pInputText [(ngModel)]="personalInformation.maternalName" style="width:90%" />
                  </span>
                </div>

              </div>
              <div class="p-col-6">
                <div class="p-col-12">
                  <label>No trabajan</label>
                </div>
                <div class="p-col-12">
                  <span class="p-float-label">
                    <input pInputText [(ngModel)]="personalInformation.maternalName" style="width:90%" />
                  </span>
                </div>
              </div>
            </div>

          </div>
          <div class="p-col-6">
            <div class="p-col-12">
              <div class="p-col-6">
                <div class="p-col-12">
                  <label>Hijos</label>
                </div>
                <div class="p-col-12">
                  <span class="p-float-label">
                    <input pInputText [(ngModel)]="personalInformation.maternalName" style="width:90%" />
                  </span>
                </div>

              </div>
              <div class="p-col-6">
                <div class="p-col-12">
                  <label>Personas a cargo</label>
                </div>
                <div class="p-col-12">
                  <span class="p-float-label">
                    <input pInputText [(ngModel)]="personalInformation.maternalName" style="width:90%" />
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </p-card>
  </div>

</div>


<!-- <div class="p-grid">
  <div class="p-col-12">
    <nb-card>
      <nb-card-body>

        <nb-stepper orientation="horizontal">
          <nb-step [label]="'Solicitante'">
           >

            <button nbButton disabled nbStepperNext>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step [label]="'Amparados'">

            <button nbButton disabled nbStepperNext>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Documentos">

            <button nbButton disabled nbStepperNext>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div> -->